---
# styles.scss
---

body {
	background-color: #262626;
}

@font-face {
	font-family: 'Avenir';
	src: local("AvenirNext"),
	url("fonts/AvenirNextLTPro-Regular.otf");
}

@import "nav";
@import "homepage";
@import "about";
@import "works";
@import "blog";
@import "reset";

