/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

/* SHOW ALL ELEMENTS HIGHLIGHTED IN RED 
* {
   border: 1px solid red !important;
}
*/
/* line 12, ../sass/styles.scss */
.row {
  width: 100%;
  margin: 0;
}

/* line 18, ../sass/styles.scss */
.height-50px {
  height: 50px;
}

/* line 22, ../sass/styles.scss */
.padding-bottom-75px {
  padding-bottom: 75px;
}

/* line 26, ../sass/styles.scss */
.padding-bottom-150px {
  padding-bottom: 150px;
}

/* line 31, ../sass/styles.scss */
.padding-25px {
  padding: 0px 25px;
}

/* line 35, ../sass/styles.scss */
.margin-top-15px {
  padding-top: 15px;
}

/* line 39, ../sass/styles.scss */
.center-vertical, .case-summary .case-description, .nwc-case-summary .case-description {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 66, ../sass/styles.scss */
.white {
  color: #E6E6E6;
}

/* line 67, ../sass/styles.scss */
.green {
  color: #92FF6E;
}

/* line 68, ../sass/styles.scss */
.blue {
  color: #32CFE0;
}

/* line 69, ../sass/styles.scss */
.orange {
  color: #DD9833;
}

/* line 70, ../sass/styles.scss */
.yellow {
  color: #F7E4B6;
}

/* line 71, ../sass/styles.scss */
.gray {
  color: #B1B1B1;
}

/* line 72, ../sass/styles.scss */
.dark-gray {
  color: #1A1A1A;
}

/* line 74, ../sass/styles.scss */
.bg-nwc-yellow {
  background-color: #F7E4B6;
}

/* line 75, ../sass/styles.scss */
.bg-blue-1 {
  background-color: #6288A3;
}

/* line 76, ../sass/styles.scss */
.bg-blue-2 {
  background-color: #80A0B5;
}

/* line 77, ../sass/styles.scss */
.bg-blue-3 {
  background-color: #617988;
}

/* line 78, ../sass/styles.scss */
.bg-blue-4 {
  background-color: #495B67;
}

/* line 79, ../sass/styles.scss */
.bg-blue-5 {
  background-color: #2C4657;
}

/* line 80, ../sass/styles.scss */
.bg-light-gray {
  background-color: #B1B1B1;
}

/* line 81, ../sass/styles.scss */
.bg-dark-gray {
  background-color: #1A1A1A;
}

/* line 82, ../sass/styles.scss */
.bg-gray {
  background-color: #333;
}

/* line 84, ../sass/styles.scss */
.opacity {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

/* Page Transition Effects */
/* line 3, ../sass/_page-transitions.scss */
.ng-enter {
  z-index: 8888;
}

/* line 4, ../sass/_page-transitions.scss */
.ng-leave {
  z-index: 9999;
}

/* line 15, ../sass/_page-transitions.scss */
.page.ng-leave {
  -webkit-animation: fadeOut .33s both ease-in;
  -moz-animation: fadeOut .33s both ease-in;
  animation: fadeOut .33s both ease-in;
}

/* line 21, ../sass/_page-transitions.scss */
.page.ng-enter {
  -webkit-animation: fadeIn .5s both ease-in;
  -moz-animation: fadeIn .5s both ease-in;
  animation: fadeIn .5s both ease-in;
}

/* Page specific animations ------------------------

.page-home.ng-leave        {  
    -webkit-animation:fadeOut .5s both ease-in;
    -moz-animation:fadeOut .5s both ease-in;
    animation:fadeOut .5s both ease-in;    
}

.page-home.ng-enter        {  
    -webkit-animation:fadeIn .5s both ease-in;
    -moz-animation:fadeIn .5s both ease-in;
    animation:fadeIn .5s both ease-in;   
}

.page-works.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-works.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.page-contact.ng-leave        {
    -webkit-animation:slideOutRight 0.5s both ease-in;
    -moz-animation:slideOutRight 0.5s both ease-in;
    animation:slideOutRight 0.5s both ease-in;   
}
.page-contact.ng-enter        {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.page-blog.ng-leave        {  
    -webkit-animation:fadeOut .5s both ease-in;
    -moz-animation:fadeOut .5s both ease-in;
    animation:fadeOut .5s both ease-in;    
}

.page-blog.ng-enter        {  
    -webkit-animation:fadeIn .5s both ease-in;
    -moz-animation:fadeIn .5s both ease-in;
    animation:fadeIn .5s both ease-in;   
}

*/
/* line 4, ../sass/_home.scss */
#cover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/home-cover.jpg");
  background-size: cover;
  min-height: 900px;
}

/* line 10, ../sass/_home.scss */
.dict-container, .home-container, .blog-container {
  width: 100%;
  position: relative;
  transition: .5s ease;
}

/* line 17, ../sass/_home.scss */
.dict-content, .home-content, .blog-content {
  padding: 0 35px;
  min-width: 300px;
  max-width: 660px;
  transition: .5s ease;
}
/* line 26, ../sass/_home.scss */
.dict-content h1, .home-content h1, .blog-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web', sans-serif;
}
/* line 33, ../sass/_home.scss */
.dict-content p, .home-content p, .blog-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 200;
}
/* line 40, ../sass/_home.scss */
.dict-content p.pronounce, .home-content p.pronounce, .blog-content p.pronounce {
  color: #B1B1B1;
}
/* line 45, ../sass/_home.scss */
.dict-content p.verb, .home-content p.verb, .blog-content p.verb {
  color: #B1B1B1;
  font-style: italic;
}
/* line 51, ../sass/_home.scss */
.dict-content .description, .home-content .description, .blog-content .description {
  color: #E6E6E6;
}
/* line 56, ../sass/_home.scss */
.dict-content p.description, .home-content p.description, .blog-content p.description {
  position: relative;
  width: 100%;
}
/* line 62, ../sass/_home.scss */
.dict-content span.description, .home-content span.description, .blog-content span.description {
  float: left;
  position: absolute;
  left: 10px;
}

/* line 76, ../sass/_home.scss */
.home-content {
  margin-left: 52%;
  position: relative;
  padding-top: 12.5vh;
  height: 100vh;
  min-height: 500px;
}

@media only screen and (max-height: 500px), screen and (max-width: 950px) {
  /* line 94, ../sass/_home.scss */
  .home-content {
    padding-top: 10vh;
    margin: auto;
    overflow: auto;
    overflow-y: hidden;
    min-height: 725px;
  }
  /* line 102, ../sass/_home.scss */
  .home-content h1 {
    font-size: 2.75em;
  }
  /* line 107, ../sass/_home.scss */
  .home-content p {
    font-size: 1.5rem;
  }

  /* line 112, ../sass/_home.scss */
  #cover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/home-cover.jpg");
    min-height: 550px;
    background-size: cover;
  }
}
@media only screen and (max-width: 443px) {
  /* line 125, ../sass/_home.scss */
  #cover {
    min-height: 750px;
  }
}
/* line 2, ../sass/_works.scss */
.works-container {
  position: relative;
  width: 100%;
  background-color: #1A1A1A;
}

/* line 10, ../sass/_works.scss */
.works-header {
  text-align: center;
  padding-top: 50px;
}
/* line 14, ../sass/_works.scss */
.works-header p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 400;
  color: #E6E6E6;
}
/* line 20, ../sass/_works.scss */
.works-header p.header {
  font-size: 3rem;
}
/* line 24, ../sass/_works.scss */
.works-header p.pronounce {
  position: relative;
  top: -5px;
  font-size: 1.75rem;
  color: #B1B1B1;
}

/* line 33, ../sass/_works.scss */
.works-row {
  text-align: center;
  padding: 0;
}

/* line 38, ../sass/_works.scss */
.works-tile {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 35px;
  transition: .5s ease;
  /*
     p {
      font-family: 'Rozha One', serif;
      position: absolute;
      font-size: 18px;
      margin: 0;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      transition: .5s ease;
    }
  
      */
}
/* line 61, ../sass/_works.scss */
.works-tile p {
  font-family: 'Open Sans', serif;
  font-size: 1.25em;
  opacity: 1;
  transition: .5s ease;
  color: #E6E6E6;
}
/* line 69, ../sass/_works.scss */
.works-tile img {
  opacity: 1;
  transition: .5s ease;
}

/* line 90, ../sass/styles.scss */
.works-tile:hover, .works-tile:focus, .works-tile:active {
  transition: .5s ease;
}
/* line 79, ../sass/_works.scss */
.works-tile:hover img, .works-tile:focus img, .works-tile:active img {
  transform: scale(1.03);
}

@media (max-width: 960px) {
  /* line 95, ../sass/_works.scss */
  .works-tile {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  /* line 104, ../sass/_works.scss */
  .works-tile {
    width: 250px;
    height: 250px;
  }

  /* line 109, ../sass/_works.scss */
  .works-header {
    padding-top: 50px;
  }
  /* line 112, ../sass/_works.scss */
  .works-header p.header {
    font-size: 2.25rem;
  }
  /* line 116, ../sass/_works.scss */
  .works-header p.pronounce {
    font-size: 1.45rem;
  }
}
/* line 2, ../sass/_case-study.scss */
.study-container, .nwc-container, .moody-container, .solarcrysis-container, .falmouth-container {
  padding: 0;
  overflow-y: hidden;
  width: 100%;
}

/* line 8, ../sass/_case-study.scss */
.study-row {
  text-align: center;
  padding-bottom: 50px;
}

/* line 13, ../sass/_case-study.scss */
.study-tile, .study-cover-tile, .study-mid-tile, .study-mid-tile-desktop, .study-mid-tile-mobile {
  display: inline-block;
  vertical-align: middle;
}

/* line 18, ../sass/_case-study.scss */
.cover-logo {
  width: 350px;
  height: 350px;
  margin: auto;
}

/* line 24, ../sass/_case-study.scss */
.body-img {
  width: 100%;
  padding: 0 20px;
}

/* line 29, ../sass/_case-study.scss */
.study-cover-tile {
  padding-top: 50px;
}

/* line 36, ../sass/_case-study.scss */
.case-summary, .nwc-case-summary {
  text-align: center;
  height: 400px;
}
/* line 40, ../sass/_case-study.scss */
.case-summary .case-description, .nwc-case-summary .case-description {
  text-align: left;
}
/* line 46, ../sass/_case-study.scss */
.case-summary p.description, .nwc-case-summary p.description {
  text-align: left;
  color: #E6E6E6;
  padding: 25px;
  font-size: 1.66rem;
  font-weight: 300;
  width: 100%;
}

/* line 57, ../sass/_case-study.scss */
.study-mid-tile, .study-mid-tile-desktop {
  max-width: 600px;
  height: 300px;
}

/* line 63, ../sass/_case-study.scss */
.study-mid-tile-desktop {
  padding-left: 30px;
}

/* line 67, ../sass/_case-study.scss */
.study-mid-tile-mobile {
  max-width: 600px;
  height: 300px;
  display: none;
}

/* line 77, ../sass/_case-study.scss */
.study-cover-content h1, .nwc-cover-content h1, .moody-cover-content h1 {
  font-size: 4.5em;
  color: #E6E6E6;
  font-family: 'Istok Web';
  margin: 0px;
}
/* line 85, ../sass/_case-study.scss */
.study-cover-content p, .nwc-cover-content p, .moody-cover-content p {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  font-weight: 100;
  padding: 20px;
  margin: 0px;
}
/* line 94, ../sass/_case-study.scss */
.study-cover-content p.pronounce, .nwc-cover-content p.pronounce, .moody-cover-content p.pronounce {
  color: #B1B1B1;
}
/* line 99, ../sass/_case-study.scss */
.study-cover-content p.verb, .nwc-cover-content p.verb, .moody-cover-content p.verb {
  color: #B1B1B1;
  font-style: italic;
}

/* line 106, ../sass/_case-study.scss */
.study-content {
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 113, ../sass/_case-study.scss */
.study-content p.description {
  color: #E6E6E6;
  padding: 20px;
  font-size: 1.66rem;
  font-weight: 300;
  width: 600px;
}

/*  ~~~~~~~ Now We're Cookin' ~~~~~~~~~~~~~~~ */
/* line 126, ../sass/_case-study.scss */
.nwc-container {
  background-color: #C66F61;
}

/* line 136, ../sass/_case-study.scss */
.nwc-cover-content h1 {
  color: #E6E6E6;
  font-family: 'Lobster';
}
/* line 142, ../sass/_case-study.scss */
.nwc-cover-content p {
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
}
/* line 148, ../sass/_case-study.scss */
.nwc-cover-content p.pronounce {
  color: #F7E4B6;
}
/* line 153, ../sass/_case-study.scss */
.nwc-cover-content p.verb {
  color: #F7E4B6;
  font-style: italic;
}

/* line 159, ../sass/_case-study.scss */
.nwc-body-img {
  width: 100%;
  padding: 20px;
}

/* line 164, ../sass/_case-study.scss */
.nwc-cover-row {
  text-align: center;
}

/* line 171, ../sass/_case-study.scss */
.nwc-case-summary p.description {
  color: #1A1A1A;
}
/* line 175, ../sass/_case-study.scss */
.nwc-case-summary p.skills-header {
  color: #1A1A1A;
}
/* line 179, ../sass/_case-study.scss */
.nwc-case-summary div.skills p {
  color: #1A1A1A;
}

/* ~~~~~~~~~~ Moody ~~~~~~~~~~~~~~~~~~~~ */
/* line 189, ../sass/_case-study.scss */
.moody-container {
  background-color: #6288A3;
}

/* line 198, ../sass/_case-study.scss */
.moody-body-img {
  padding: 0;
  width: 100%;
  max-width: 600px;
}

/* line 204, ../sass/_case-study.scss */
.moody-wireframe {
  max-width: 1000px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
  padding: 50px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 216, ../sass/_case-study.scss */
.wireframe-title {
  font-family: 'Palanquin', sans-serif;
  font-size: 1.66rem;
  padding: 50px 25px 0px;
  margin: 0px;
  text-align: left;
  color: white;
}

/* ~~~~~~~  Solar Crysis  ~~~~~~~~~~~~~~~ */
/* line 227, ../sass/_case-study.scss */
.solarcrysis-container {
  background-color: #394E8E;
}

/* ~~~~~~~  Falmouth   ~~~~~~~~~~~~~~~ */
/* line 234, ../sass/_case-study.scss */
.falmouth-container {
  background-color: #464646;
}

/* Svg Page and SVG's ================================================================ */
/* line 241, ../sass/_case-study.scss */
#section-svg {
  text-align: center;
  width: 100%;
  background-color: white;
}

/* line 247, ../sass/_case-study.scss */
.svg-logo {
  width: 100%;
  height: 100%;
}

@media (max-width: 320px) {
  /* line 253, ../sass/_case-study.scss */
  .svg-logo {
    width: 200px;
    height: 100px;
  }
}
/* line 259, ../sass/_case-study.scss */
#svg-contact {
  width: 75px;
  height: 75px;
}

/* line 264, ../sass/_case-study.scss */
.svg-icon {
  width: 75%;
  height: 75%;
  padding: 50px;
}

/* line 270, ../sass/_case-study.scss */
.svg-header {
  padding: 25px;
  font-family: 'Palanquin', sans-serif;
}

/* line 275, ../sass/_case-study.scss */
.svg-header h1 {
  font-size: 72px;
  margin-top: 50px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  /* line 282, ../sass/_case-study.scss */
  .svg-header h1 {
    font-size: 42px;
  }
}
/* ~~~~~~~  Media Queries  ~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
  /* line 292, ../sass/_case-study.scss */
  .study-cover-tile {
    padding-top: 50px;
  }

  /* line 298, ../sass/_case-study.scss */
  .study-cover-content h1, .nwc-cover-content h1, .moody-cover-content h1 {
    font-size: 2.75em;
  }
  /* line 303, ../sass/_case-study.scss */
  .study-cover-content p, .nwc-cover-content p, .moody-cover-content p {
    font-size: 1.5rem;
  }

  /* line 308, ../sass/_case-study.scss */
  .cover-logo {
    max-width: 250px;
    max-height: 250px;
  }

  /* line 317, ../sass/_case-study.scss */
  .case-summary .case-description, .nwc-case-summary .case-description {
    top: 0;
    transform: translateY(0);
    padding-top: 10%;
  }
  /* line 324, ../sass/_case-study.scss */
  .case-summary p.description, .nwc-case-summary p.description {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  /* line 332, ../sass/_case-study.scss */
  .study-row {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  /* line 337, ../sass/_case-study.scss */
  .study-mid-tile-desktop {
    display: none;
  }

  /* line 341, ../sass/_case-study.scss */
  .study-mid-tile-mobile {
    display: inline-block;
  }
}
@media all and (max-width: 1215px) {
  /* line 347, ../sass/_case-study.scss */
  .study-content {
    top: 0;
    transform: translateY(0);
  }
  /* line 351, ../sass/_case-study.scss */
  .study-content p.description {
    font-size: 1.5rem;
    width: 100%;
  }

  /* line 357, ../sass/_case-study.scss */
  .study-mid-tile, .study-mid-tile-mobile, .study-mid-tile-desktop {
    max-width: 400px;
    height: 100%;
  }
}
@media (max-width: 600px) {
  /* line 368, ../sass/_case-study.scss */
  .case-summary .case-description, .nwc-case-summary .case-description {
    top: 0;
    transform: translateY(0);
    padding-top: 0;
  }
}
/* line 2, ../sass/_blog.scss */
.blog-container {
  min-height: 700px;
}

/* line 7, ../sass/_blog.scss */
.blog-content {
  padding-top: 50px;
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(50%);
}

@media only screen and (max-height: 500px), screen and (max-width: 768px) {
  /* line 22, ../sass/_blog.scss */
  .blog-content h1 {
    font-size: 2.75em;
  }
  /* line 27, ../sass/_blog.scss */
  .blog-content p {
    font-size: 1.5rem;
  }
}
/* line 1, ../sass/_menu-icon.scss */
.site-menu-icon {
  /* right:0 */
  /* border: 1px solid black; */
}

/* line 6, ../sass/_menu-icon.scss */
.site-menu-icon .menu-toggle-bar {
  background: #fff;
  height: 4px;
  left: 0;
  margin-top: -2px;
  position: absolute;
  width: 20px;
  -webkit-transition-property: -webkit-transform, margin-top, visibility;
  transition-property: transform, margin-top, visibility;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-delay: 0, 400ms, 400ms;
  transition-delay: 0, 400ms, 400ms;
}

/* line 28, ../sass/_menu-icon.scss */
.site-menu-icon .menu-toggle-top {
  margin-top: -11px;
}

/* line 31, ../sass/_menu-icon.scss */
.site-menu-icon .menu-toggle-bottom {
  margin-top: 7px;
}

/* line 34, ../sass/_menu-icon.scss */
.site-menu-icon.toggle-close .menu-toggle-bar {
  margin-top: -2px;
  -webkit-transition-property: margin-top, -webkit-transform;
  transition-property: margin-top, transform;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-delay: 0, 400ms;
  transition-delay: 0, 400ms;
}

/* line 47, ../sass/_menu-icon.scss */
.site-menu-icon.toggle-close .menu-toggle-middle {
  visibility: hidden;
}

/* line 50, ../sass/_menu-icon.scss */
.site-menu-icon.toggle-close .menu-toggle-top {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 55, ../sass/_menu-icon.scss */
.site-menu-icon.toggle-close .menu-toggle-bottom {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Overlay style */
/* line 2, ../sass/_overlay.scss */
#trigger-overlay {
  z-index: 50;
  position: block;
}

/* line 7, ../sass/_overlay.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(21, 21, 21, 0.9);
}

/* Overlay closing cross */
/* line 21, ../sass/_overlay.scss */
.close-button {
  background: url(../images/cross.png) no-repeat center center;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  color: #E6E6E6;
  outline: none;
  z-index: 50;
}

/* Menu style */
/* line 37, ../sass/_overlay.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 47, ../sass/_overlay.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

/* line 56, ../sass/_overlay.scss */
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 4);
  min-height: 54px;
}

/* line 63, ../sass/_overlay.scss */
.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-bottom: 25px;
}

/* line 72, ../sass/_overlay.scss */
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1;
}

/* Effects */
/* line 78, ../sass/_overlay.scss */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

/* line 85, ../sass/_overlay.scss */
.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 92, ../sass/_overlay.scss */
.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

/* line 97, ../sass/_overlay.scss */
.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* line 105, ../sass/_overlay.scss */
.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 111, ../sass/_overlay.scss */
.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  /* line 117, ../sass/_overlay.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  /* line 121, ../sass/_overlay.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
/* line 105, ../sass/styles.scss */
body {
  background-color: #1A1A1A;
}

/* unvisited link */
/* line 111, ../sass/styles.scss */
a, a:link, a:visited {
  transition: .5s ease;
  color: #E6E6E6;
}

/* line 90, ../sass/styles.scss */
a:hover, a:focus, a:active {
  color: #E6E6E6;
}

/* line 124, ../sass/styles.scss */
#trigger-overlay {
  display: none;
  background: url(../images/menu-icon-2.png);
  width: 35px;
  height: 33px;
  margin-top: 18px;
  margin-right: 5px;
}

/* line 133, ../sass/styles.scss */
#trigger-overlay:hover {
  cursor: pointer;
}

/* line 139, ../sass/styles.scss */
.page {
  width: 100%;
}

/* line 144, ../sass/styles.scss */
.page-home {
  background-color: #E7E7E7;
}

/* line 145, ../sass/styles.scss */
.page-contact {
  background-color: #66DF4C;
}

/* line 146, ../sass/styles.scss */
.page-about {
  background-color: #506AC0;
}

/* line 147, ../sass/styles.scss */
.page-nwc {
  background-color: #C66F61;
}

/* line 152, ../sass/styles.scss */
.nav {
  position: absolute;
  z-index: 40;
  width: 100%;
  padding: 1em 1.5em 0 0;
}
/* line 158, ../sass/styles.scss */
.nav ul > li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: inline;
  font-size: 1.75rem;
  margin-left: 3rem;
}

/* line 167, ../sass/styles.scss */
.nav-list {
  float: right;
}

/* line 171, ../sass/styles.scss */
.nav-element {
  color: #1A1A1A;
}

/* line 177, ../sass/styles.scss */
.footer {
  color: #E6E6E6;
  height: 380px;
  background-color: #1A1A1A;
  text-align: center;
}

/* line 184, ../sass/styles.scss */
.contact-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* line 190, ../sass/styles.scss */
.contact-tile {
  display: inline-block;
  text-align: left;
  margin: 0 20px;
}

/* line 196, ../sass/styles.scss */
.contact-header {
  font-family: 'Palanquin', sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  padding-right: 40px;
}

/* line 203, ../sass/styles.scss */
.contact-description {
  max-width: 240px;
  font-family: 'Palanquin', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

/* line 210, ../sass/styles.scss */
.contact-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

/* line 216, ../sass/styles.scss */
.contact-contact {
  position: relative;
  top: 100px;
}

/* line 221, ../sass/styles.scss */
.contact-info {
  font-size: 1.1em;
  font-weight: 200;
  color: #E6E6E6;
}

/* line 227, ../sass/styles.scss */
.contact-reserved {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: 200;
}

/* line 234, ../sass/styles.scss */
.skills-header {
  color: #B1B1B1;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 241, ../sass/styles.scss */
.skills {
  padding-top: 10px;
  overflow: auto;
}
/* line 245, ../sass/styles.scss */
.skills p {
  float: left;
  border-style: solid;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #B1B1B1;
}

/* line 258, ../sass/styles.scss */
.border, .green, .blue, .orange, .pink, .yellow {
  border-width: 2px;
  min-width: 50px;
}

/* line 263, ../sass/styles.scss */
.green {
  border-color: #92FF6E;
}

/* line 268, ../sass/styles.scss */
.blue {
  border-color: #32CFE0;
}

/* line 272, ../sass/styles.scss */
.orange {
  border-color: #DD9833;
}

/* line 276, ../sass/styles.scss */
.pink {
  border-color: #C66F61;
}

/* line 280, ../sass/styles.scss */
.yellow {
  border-color: #F7E4B6;
}

@media only screen and (max-width: 950px) {
  /* line 288, ../sass/styles.scss */
  #trigger-overlay {
    display: inherit;
  }

  /* line 292, ../sass/styles.scss */
  .nav-list {
    display: none;
  }

  /* line 296, ../sass/styles.scss */
  .nav {
    width: 100%;
    padding: 0 15px 10px 0;
  }

  /*
    .nav-list {
      float: none;
      padding: 0px;
      text-align: center;
    }
  
    .nav {
      width: 100%;
      padding: 15px 0 5px;
      
      ul > li {
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          display: inline;
          font-size: 1.4rem;
          margin: 2rem;
          color: $white;
      }
    }
  */
}
@media only screen and (max-width: 500px) {
  /* line 326, ../sass/styles.scss */
  .loading-circle {
    width: 250px;
    height: 250px;
  }

  /* line 331, ../sass/styles.scss */
  .loading-animation {
    width: 200px;
    height: 100px;
  }
}
@media only screen and (max-height: 500px), screen and (max-width: 950px) {
  /* line 338, ../sass/styles.scss */
  .contact-header {
    float: left;
    margin-top: 50px;
  }

  /* line 343, ../sass/styles.scss */
  .footer {
    height: 450px;
    padding-left: 40px;
  }

  /* line 348, ../sass/styles.scss */
  .contact-contact {
    position: relative;
    top: 0px;
  }

  /* line 353, ../sass/styles.scss */
  .contact-tile {
    display: block;
    text-align: left;
    margin: 0 20px 20px 20px;
  }
}
