// Case Study Container
.study-container {
    padding: 0;
    overflow-y: hidden;
}

.study-row {
    text-align: center;
    padding-bottom: 50px;
}

.study-tile {
    display: inline-block;
    vertical-align: middle; 
}

.cover-logo {
    width: 350px;
    height: 350px;
    margin: auto;
}

.body-img {
    width: 100%;
    padding: 0 20px;
}

.study-cover-tile {
    @extend .study-tile;
    padding-top: 50px;
}


// Moody Summary  
.case-summary {
    text-align: center;
    height: 400px;

    .case-description {
        @extend .center-vertical;
        text-align: left;
    }

// description settings
    p.description {
        text-align: left;
        color:$white;
        padding: 25px;
        font-size: 1.66rem;
        font-weight: 300;
        width: 100%;
    }   
}

// NWC Tile
.study-mid-tile, .study-mid-tile-desktop {
    @extend .study-tile;
    max-width: 600px;
    height: 300px;
}

.study-mid-tile-desktop {
    padding-left: 30px;
}

.study-mid-tile-mobile {
    @extend .study-tile;
    max-width: 600px;
    height: 300px;
    display: none;
}

// Home Page Content
.study-cover-content {   
    // Header Settings
    h1 {
        font-size: 4.5em;
        color: $white;
        font-family: 'Istok Web';
        margin: 0px;
    }

// Paragraph Settings
    p {
        font-family: 'Palanquin', sans-serif;
        font-size: 1.66rem;
        font-weight: 100;
        padding: 20px;
        margin: 0px;
    }

// pronounication spell out
    p.pronounce {
        color: $light-gray;
    }

// the descriptor (verb, noun, adj.)
    p.verb {
        color: $light-gray;
        font-style: italic;
    } 
}

// NWC Conter 
.study-content {
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

// description settings
    p.description {
        color:$white;
        padding: 20px;
        font-size: 1.66rem;
        font-weight: 300;
        width: 600px;
    }   
}

/*  ~~~~~~~ Now We're Cookin' ~~~~~~~~~~~~~~~ */


// NWC Container 
.nwc-container {
    @extend .study-container;
    background-color: $dark-pink;
}

// NWC Cover Page Content
.nwc-cover-content {
    @extend .study-cover-content;

// Header Settings
    h1 {
        color: $white;
        font-family: 'Lobster';
    }

// Paragraph Settings
    p {
        font-family: 'Palanquin', sans-serif;
        font-weight: 100;
    }

// pronounication spell out
    p.pronounce {
        color: $nwc-yellow;
    }

// the descriptor (verb, noun, adj.)
    p.verb {
        color: $nwc-yellow;
        font-style: italic;
    } 
}

.nwc-body-img {
    width: 100%;
    padding: 20px;
}

.nwc-cover-row {
    text-align: center;
}

.nwc-case-summary {
    @extend .case-summary;
    
    p.description{
        color: $dark-gray;
    }

    p.skills-header{
        color: $dark-gray;
    }

    div.skills p{
         color: $dark-gray;
    }
}

/* ~~~~~~~~~~ Moody ~~~~~~~~~~~~~~~~~~~~ */

// Begin Moody CSS

// NWC Container 
.moody-container {
    @extend .study-container;
    background-color: $blue-1;
}

.moody-cover-content {
    @extend .study-cover-content;
}

.moody-body-img {
    padding: 0;
    width: 100%;    
    max-width: 600px;
}

.moody-wireframe {
    max-width: 1000px;
    width: 100%;
    max-height: 1000px;
    height: 100%;

    padding: 50px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.wireframe-title {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.66rem;
    padding: 50px 25px 0px;
    margin: 0px;
    text-align: left;
    color: white;
}

/* ~~~~~~~  Solar Crysis  ~~~~~~~~~~~~~~~ */

.solarcrysis-container {
    @extend .study-container;
    background-color: $solarcrysis-blue;
}

/* ~~~~~~~  Falmouth   ~~~~~~~~~~~~~~~ */

.falmouth-container {
    @extend .study-container;
    background-color: $gray;
}

/* Svg Page and SVG's ================================================================ */

#section-svg{
    text-align: center;
    width: 100%;
    background-color: white;
}

.svg-logo{
    width: 100%;
    height: 100%;
}

@media (max-width: 320px) {
    .svg-logo{
        width: 200px;
        height: 100px;
    }
}

#svg-contact {
    width: 75px;
    height: 75px;
}

.svg-icon {
    width: 75%;
    height: 75%;
    padding: 50px;
}

.svg-header {
    padding: 25px;
    font-family: 'Palanquin', sans-serif;
}

.svg-header h1{
    font-size: 72px;
    margin-top: 50px;
    margin-bottom: 0px;
}

@media (max-width:768px){
    .svg-header h1{
        font-size: 42px;
    }
}


/* ~~~~~~~  Media Queries  ~~~~~~~~~~~~~~~ */


@media (max-width: 768px) {
    .study-cover-tile {
        padding-top: 75px;
    }

    .study-cover-content {
    // Header Settings
        h1 {
            font-size: 2.75em;
        }

    // Paragraph Settings 
        p {
            font-size: 1.5rem;
        }    
    }

    .cover-logo {
        max-width: 250px;
        max-height: 250px;
    }

    // Moody Summary  
    .case-summary {
    
    // Moody Description Text
        .case-description {
            top: 0;
            transform: translateY(0);
            padding-top: 10%;
        }

    // description settings
        p.description {
            font-size: 1.5rem;
        }   
    }
}


@media (max-width: 800px) {
    .study-row {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .study-mid-tile-desktop {
        display: none;
    }

    .study-mid-tile-mobile {
        display: inline-block;
    }
}

@media all and (max-width: 1215px) {
    .study-content {
        top: 0;
        transform: translateY(0);

        p.description {
            font-size: 1.5rem;
            width: 100%;
        }
    }

    .study-mid-tile, .study-mid-tile-mobile, .study-mid-tile-desktop {
        max-width: 400px;
        height: 100%;
    }
}

@media (max-width: 600px) {
     // Moody Summary  
    .case-summary {
    
    // Moody Description Text
        .case-description {
            top: 0;
            transform: translateY(0);
            padding-top: 0;
        }
    }
}









