// Case Study Container
.study-container {
    padding: 0;
    overflow-y: hidden;
}


.study-row {
    text-align: center;
}

.study-tile {
    display: inline-block;
    vertical-align: top; 
}


// Home Page Content
.study-content {   
    position: relative;
    text-align: center;
    padding: 0;


// Header Settings
    h1 {
        font-size: 4.5em;
        color: $white;
        font-family: 'Lobster';
    }

// Paragraph Settings
    p {
        font-family: 'Palanquin', sans-serif;
        font-size: 1.66rem;
        font-weight: 100;
        padding: 20px;
    }

// pronounication spell out
    p.pronounce {
        color: $nwc-yellow;
    }

// the descriptor (verb, noun, adj.)
    p.verb {
        color: $nwc-yellow;
        font-style: italic;
    }

// description settings
    .description {
        color:$white;
    }

// paragraph description
    p.description {
        position: relative;
        width: 100%;
    }

// the number description
    span.description {
        float: left;
    }
}


// NWC Container 
.nwc-container {
    @extend .study-container;
    background-color: $dark-pink;
}

// NWC Container 
.nwc-content {
    @extend .study-content;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// NWC Tile
.nwc-tile, .nwc-tile-desktop {
    @extend .study-tile;
    max-width: 600px;
    height: 300px;
}

.nwc-tile-mobile {
    @extend .study-tile;
    max-width: 600px;
    height: 300px;
    display: none;
}

.nwc-cover-logo {
    width: 350px;
    height: 350px;
    margin: auto;
}

.nwc-body-img {
    width: 100%;
    padding: 20px;
}

.nwc-cover-row {
    text-align: center;
}

.nwc-footer-space {
    height: 75px;
}

.nwc-footer {
    @extend .home-footer;
    background-color: $nwc-yellow;
    color: $dark-gray;

    a,a:link,a:visited {
     color:$dark-gray;
     transition: .5s ease;
    }

    a {
      @include hover-focus-active {
        font-size: $nav-font-size + .1;
        color: $dark-gray;
      }
    }

}

// Media Queries

@media (max-width: 768px) {
    .study-content {
    // Header Settings
        h1 {
            font-size: 2.75em;
        }

    // Paragraph Settings 
        p {
            font-size: 1.5rem;
        }    
    }

    .nwc-cover-logo {
        max-width: 250px;
        max-height: 250px;
    }
}


@media (max-width: 925px) {
   .nwc-tile-desktop {
        display: none;
    }

    .nwc-tile-mobile {
        display: inline-block;
    }
}

@media all and (max-width: 1215px) {
    .nwc-content {
        text-align: left;
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .nwc-tile, .nwc-tile-mobile, .nwc-tile-desktop {
        max-width: 450px;
        height: 100%;
    }
}




