// Home Page Container
// Dictionary Theme

#cover {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../images/home-cover.jpg");
    background-size: cover;
    min-height: 900px;
}

.dict-container {
    width: 100%;
    position: relative;
    transition: .5s ease;
}

// Home Page Content
.dict-content {
    padding: 0 35px;
    min-width: 300px;
    max-width: 660px;
    transition: .5s ease;
 // overflow: auto; /* Recommended in case content is larger than the container */
 //   margin: auto; /* Center the item vertically & horizontally */

// Header Settings
    h1 {
        font-size: 4.5em;
        color: $white;
        font-family: 'Istok Web', sans-serif;
    }

// Paragraph Settings
    p {
        font-family: 'Palanquin', sans-serif;
        font-size: 1.66rem;
        font-weight: 200;
    }

// pronounication spell out
    p.pronounce {
        color: $light-gray;
    }

// the descriptor (verb, noun, adj.)
    p.verb {
        color: $light-gray;
        font-style: italic;
    }

// description settings
    .description {
        color:$white;
    }

// paragraph description
    p.description {
        position: relative;
        width: 100%;
    }

// the number description
    span.description {
        float: left;
        position: absolute;
        left: 10px;
    }
}


// Home Container 

.home-container {
    @extend .dict-container;
}

.home-content {
    @extend .dict-content;
        margin-left: 52%;
        position: relative;
        padding-top: 12.5vh;
        height: 100vh;
        min-height: 500px;
}

// Media Queries
@media (max-width: 500px) {
    .home-container {

    }
}

@media only screen and (max-height: 500px), screen and (max-width: 950px) {
    // Home Page Content
    .home-content {
        padding-top: 10vh;
        margin: auto; 
        overflow: auto;
        overflow-y: hidden;
        min-height: 725px;

    // Header Settings
        h1 {
            font-size: 2.75em;
        }

    // Paragraph Settings 
        p {
            font-size: 1.5rem;
        }    
    }

    #cover {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/home-cover.jpg");
        min-height: 550px;
        background-size: cover;
    }

}

@media only screen and (max-width: 443px) {
    .home-content {
        
    }

    #cover {
        min-height: 750px;
     }

}

