/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

/* SHOW ALL ELEMENTS HIGHLIGHTED IN RED 
* {
   border: 1px solid red !important;
}
*/


.height-50px {
  height: 50px;
}

.padding-bottom-75px {
  padding-bottom: 75px;
}

.padding-bottom-150px {
  padding-bottom: 150px;
}


.padding-25px {
  padding: 0px 25px;
}

.margin-top-15px {
  padding-top: 15px;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


// Colors
$dark-gray: #1A1A1A;
$light-gray: #B1B1B1;
$gray: #464646;
$white: #E6E6E6;
$green: #92FF6E;
$blue: #32CFE0;
$light-blue: #9AB4C5;
$blue-1: #6288A3;
$blue-2: #80A0B5;
$blue-3: #617988;
$blue-4: #495B67;
$blue-5: #2C4657;
$orange: #DD9833;
$dark-orange: #C28D63;
$dark-pink: #C66F61;
$nwc-yellow: #F7E4B6;
$teal: #42837E;
$solarcrysis-blue: #394E8E;

.green { color: $green; }
.blue { color: $blue; }
.orange { color: $orange; }
.yellow { color: $nwc-yellow; }
.gray { color: $light-gray;}
.dark-gray { color: $dark-gray;}

.bg-nwc-yellow { background-color: $nwc-yellow; }
.bg-blue-1 { background-color: $blue-1; }
.bg-blue-2 { background-color: $blue-2; }
.bg-blue-3 { background-color: $blue-3; }
.bg-blue-4 { background-color: $blue-4; }
.bg-blue-5 { background-color: $blue-5; }
.bg-light-gray { background-color: $light-gray; }

//Fonts
html {

}

$nav-font-size: 1.75rem;


@mixin hover-focus-active() {
  &:hover,
  &:focus,
  &:active { @content }
}


// @import "compass/reset";
@import "page-transitions";
@import "home";
@import "works";
@import "case-study";
@import "blog";
@import "menu-icon";


#myModal {
  
}

// Page Links
/* unvisited link */
a,a:link,a:visited
{
 color:$white;
 transition: .5s ease;
}

a {
  @include hover-focus-active {
    color: $white;
  }
}

// Page Settings
.page {
  width: 100%;
}

// Page Specific Settings
.page-home { background-color: #E7E7E7; }
.page-contact { background-color: #66DF4C; }
.page-about { background-color: #506AC0; }
.page-nwc { background-color: #C66F61 }

// Default Nav Bar
.nav {
    width: 100%;
    padding: 1em 1.5em 0 0;
    
    ul > li {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        display: inline;
        font-size: $nav-font-size;
        margin-left: 3rem;
        color: $white;
    }
}

.nav-list {
  float:right;
}

.mobile-nav-btn {
  visibility: hidden;
  width: 40px;
  height: 40px;
  background-color: $orange;
}

.mobile-nav {
  visibility: hidden;
}


// Skills, Tools, etc.
.skills-header {
    color: $light-gray;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.skills{
    padding-top: 10px;
    overflow: auto;

    p {
        float: left;
        border-style: solid;
        border-radius: 25px;
        padding: 5px;
        margin-right: 5px;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: $light-gray;
    }
}

.border {
    border-width: 2px;
    min-width: 50px;
}

.green {
    @extend .border;
    border-color: $green;
}

.blue {
    @extend .border;
    border-color: $blue;
}
.orange {
    @extend .border;
    border-color: $orange;
}
.pink {
    @extend .border;
    border-color: $dark-pink;
}
.yellow {
    @extend .border;
    border-color: $nwc-yellow;
}


@media only screen and (max-width: 768px) {
  $nav-font-size: 1rem;

  .desktop-nav {
    visibility: hidden;
  }
  
  .mobile-nav-btn {
    visibility: visible;
  }

  .mobile-nav {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 50vh;
    background-color: $green;
  }

  .nav-list {
    float: none;
    padding: 0px;
    text-align: center;
  }

  .nav {
    width: 100%;
    padding: 25px 25px 0px;
    
    ul > li {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        display: inline;
        font-size: 1.4rem;
        margin: 1.5rem;
        color: $white;
    }
  }
}


