<div id="section-about">
	<div class="row">
		<div class="col-sm-8">
			<div id="aboutme-div">
				<h1 class="roboto-300"> About Me</h1>

				<p class="droid-sans"> Hey what's up! <br> My name is Antonio lee and I am an aspiring designer/developer who enjoys creating new forms of interactive media. I have experience designing, researching, wireframing, prototyping and creating software applications ranging from websites, mobiles apps and video games. Besides design and development, I like to do other things! I love skateboarding, playing guitar, producing music, playing video games or adventuring with friends.
				</p>

				<br>

				<p> <strong> Contact: </strong><br>
					Email: antoniolee@outlook.com
				</p>

			</div>
		</div>

		<div class="col-sm-4">
			<div class="pull-right" id="img-about">
				<object>
					<embed id="svg-turtle" src="svg/turtle.svg">
				</object>
			</div>
		</div>
	</div>
</div>
