<div class="blog-container">
	<div class="nav">
		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="#blog">Blog</a></li>
			<li><a href="#/">About</a></li>
		</ul>
	</div>
	<div class="blog-content">
		<h1>Contact</h1>
		<p class="pronounce">/ (kän, kən) - [takt] /</p>
		<p class="verb">Noun</p>
		<span class="description">1.</span>
		<p class="description">
			Email: antoniolee@outlook.com
		</p>
		<span class="description">2.</span>
		<p class="description">
			Resume: 
		</p>
		<p class="skills-header">  </p>
		<div class="skills">
			<p class="green">&nbsp&nbsp WORK &nbsp&nbsp</p>
			<p class="orange">&nbsp&nbsp IN &nbsp&nbsp</p>
			<p class="blue">&nbsp&nbsp PROGRESS &nbsp&nbsp</p>


		</div>
		
	</div>
</div>