<div class="blog-container">

	<div class="blog-content">
		<h1>Contact</h1>
		<p class="pronounce">/ (kän, kən) - [takt] /</p>
		<p class="verb">Noun</p>
		<p class="description">
			Email: antoniolee@outlook.com
		</p>
		<p class="description">
			Resume: 
		</p>
		<p class="skills-header">  </p>
		<div class="skills">
			<p class="green">&nbsp&nbsp WORK &nbsp&nbsp</p>
			<p class="orange">&nbsp&nbsp IN &nbsp&nbsp</p>
			<p class="blue">&nbsp&nbsp PROGRESS &nbsp&nbsp</p>
		</div>
	</div>
	
</div>