<div class="falmouth-container">

	<div class="study-row">
		<div class="study-cover-tile">
			<div class="study-cover-content">
				<h1>Falmouth</h1>
				<p class="pronounce">/ fal-muh th / </p>
				<img class="img-responsive cover-logo" src="images/works/falmouth-logo.png">
				<p class="verb">AAA Video Game Menu Redesign</p>
			</div>
		</div>
	</div>

	<div class="study-row">
		<div class="study-mid-tile">
			<div class="study-content">
				<p class="description">
					<strong>Falmouth</strong> was a re-design for one of the world's biggest AAA video games (Disclosed due to NDA). I created designs by reiterating on (disclosed topic). The goals were to increase ease of use, ease of learning, and enhance overall gameplay experience. The project was split into three phases: Discovery, Ideation, and Design Production. Project was achieved by creating a design that decreases number of screens and number of button presses, while effectively hitting all of the goals.
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="nwc-body-img" src="images/falmouth/falmouth-1.png">
		</div>
	</div>

	<div class="study-row">
		<div class="study-mid-tile-mobile">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 1: Discovery</strong>  (Research and Investigation)<br><br>
					    •&nbsp; Researched and mapped out menu navigation for past titles <br>
						•&nbsp; Investigated why certain designs were successful and why others were not, from both a designers and gamers perspective <Br>
						•&nbsp; Identified any similarities, differences and unique features across all titles and other similar titles
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="nwc-body-img" src="images/falmouth/falmouth-1.png">
		</div>
		<div class="study-mid-tile-desktop">
			<div class="study-content">
				<p class="description">
					   <strong>Phase 1: Discovery</strong>  (Research and Investigation)<br><br>
					    •&nbsp; Researched and mapped out menu navigation for past titles <br>
						•&nbsp; Investigated why certain menu designs were successful and others were not from both a designers and gamers perspective <Br>
						•&nbsp; Identified any similarities, differences and unique features across all titles and other menu systems
				</p>
			</div>
		</div>
	</div>

	<div class="study-row">
		<div class="study-mid-tile">
			<div class="study-content">
				<p class="description">
					 <strong>Phase 2: Ideation</strong>  (Brainstorm and Rapid Wireframing)<br><br>
					    •&nbsp; Brainstormed ideas from research and sketched out possible redesigns <br>
						•&nbsp; Created five unique and different possible redesigns <br>
						•&nbsp; Created wireframes for each of the five different possibilities <br>
						•&nbsp; Presented redesigns to client; Client chooses to pursue with one  
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="nwc-body-img" src="images/falmouth/falmouth-1.png">
		</div>
	</div>

	<div class="study-row">
		<div class="study-mid-tile-mobile">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 3: Design Production</strong>  (Diverge and Converge)<br><br>
					    •&nbsp; Divergence: Created two iterations of pursued redesign <br>
						•&nbsp; Developed chosen iterations further with specific client requests, discuss which features of both designs are desired. <br>
						•&nbsp; Convergence: Merged both designs to create one design with all desired features. <br>
						•&nbsp; Presented final redesign complete with all bells and whistles. 
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="nwc-body-img padding-bottom-75px" src="images/falmouth/falmouth-2.png">
		</div>
		<div class="study-mid-tile-desktop">
			<div class="study-content">
				<p class="description">
					   <strong>Phase 3: Design Production</strong>  (Diverge and Converge)<br><br>
					    •&nbsp; Divergence: Created two iterations of pursued redesign <br>
						•&nbsp; Developed chosen iterations further with specific client requests, discuss which features of both designs are desired. <br>
						•&nbsp; Convergence: Merged both designs to create one design with all desired features. <br>
						•&nbsp; Presented final redesign complete with all bells and whistles. 
				</p>
			</div>
		</div>
	</div>

	<div class="height-50px"></div>

	<div class="study-row bg-blue-5">
		<div class="case-summary">
			<div class="study-tile case-description">
				<p class="description">
					<strong>Project Recap: Falmouth </strong> <br><br>
					•&nbsp; Research, Investigation, Brainstorm, Ideation, Wireframes, Button Infographics <br>
					•&nbsp; Weekly client meetings and powerpoint presentations with Q&A’s <br>
					•&nbsp; Created 12 unique menu systems which all explore different ways of navigation <br> 
					•&nbsp; Created over +100 wireframes with +50 being high fidelity
				</p>
				<div class="padding-25px">
					<p class="skills-header"> Skills </p>
					<div class="skills">
						<p class="blue">&nbsp&nbsp DESIGN &nbsp&nbsp</p>
						<p class="green">&nbsp&nbsp ILLUSTRATOR &nbsp&nbsp</p>
						<p class="green">&nbsp&nbsp PHOTOSHOP &nbsp&nbsp</p>
						<p class="orange">&nbsp&nbsp WIREFRAMING &nbsp&nbsp</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>