<div id="cover" class="home-container">

	<div class="home-content hidden">
		<h1>Antonio Lee</h1>
		<p class="pronounce">/ (an, ən) - tō - nē - ō /  [ lē ]</p>
		<p class="verb">Noun</p>
		<!-- span class="description">1.</span -->
		<p class="description">
			My name's Antonio Lee and I am a designer & developer who aspires to create new forms of interactive media. I have experience designing, researching, wireframing, prototyping and creating software applications ranging from websites, mobiles apps and video games.
		</p>
		<!-- span class="description">1.</span -->
		<p class="description">
			Besides my love for designing and developing, I have other hobbies too! I love skateboarding, cooking, playing guitar, producing music, watching the sunset, traveling and hanging out with my friends!
		</p>

		<p class="skills-header margin-top-15px"> Skills </p>
		<div class="skills">
			<p class="green">&nbsp&nbsp DESIGN &nbsp&nbsp</p>
			<p class="green">&nbsp&nbsp DEVELOPMENT &nbsp&nbsp</p>
			<p class="green">&nbsp&nbsp ILLUSTRATOR &nbsp&nbsp</p>
			<p class="green">&nbsp&nbsp PHOTOSHOP &nbsp&nbsp</p>
			<p class="blue">&nbsp&nbsp HTML &nbsp&nbsp</p>
			<p class="blue">&nbsp&nbsp CSS &nbsp&nbsp</p>
			<p class="blue">&nbsp&nbsp JAVASCRIPT &nbsp&nbsp</p>
			<p class="orange">&nbsp&nbsp PYTHON &nbsp&nbsp</p>
			<p class="orange">&nbsp&nbsp LUA &nbsp&nbsp</p>
			<p class="orange">&nbsp&nbsp C# &nbsp&nbsp</p>
			<p class="orange">&nbsp&nbsp JAVA &nbsp&nbsp</p>
			<p class="yellow">&nbsp&nbsp SKATEBOARDING &nbsp&nbsp</p>
			<p class="yellow">&nbsp&nbsp GUITAR &nbsp&nbsp</p>
			<p class="yellow">&nbsp&nbsp MUSIC &nbsp&nbsp</p>
			<p class="pink">&nbsp&nbsp ADVENTURING &nbsp&nbsp</p>
			<p class="pink">&nbsp&nbsp COOKING &nbsp&nbsp</p>
			<p class="pink">&nbsp&nbsp DREAMING &nbsp&nbsp</p>
		</div>
	</div>

</div>