<div class="moody-container">

	<div class="study-row">
		<div class="study-cover-tile">
			<div class="study-cover-content">
				<h1> Moody </h1>
				<p class="pronounce"> / ˈmo͞odē / </p>
					<img class="img-responsive cover-logo" src="images/works/moody-logo.jpg">
				<p class="verb">Web Prototype and Wireframes</p>
			</div>
		</div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile">
			<div class="study-content">
				<p class="description">
					<strong>Moody</strong> was a design project done within the UEGroup to replace their current system of recording research participants "emotional level" with a simple to use web application. The philosophy behind the project was to create a web application that is as easy or easier to use than the current system of recording data by hand. This design was accomplished by improving the overall efficiency of recording data, reducing the amount of data entry and reducing the margin for error.
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/rwd-icon.png">
		</div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile-mobile">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 1:</strong> Empathize and Web Prototype <br><br>
					  •&nbsp; Shadowed UEGroup Researcher's using the current system<br>
					  •&nbsp; Created web prototype of UEGroup’s Emotional Chart system. Web prototype built using HTML, CSS, JS, and Express.js
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/moody-proto.png">
		</div>
		<div class="study-mid-tile-desktop">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 1:</strong> Empathize and Web Prototype <br><br>
					  •&nbsp; Shadowed UEGroup Researcher's using the current system <br>
					  •&nbsp; Created web prototype of UEGroup’s Emotional Chart system. Web prototype built using HTML, CSS, JS, and Express.js
				</p>
			</div>
		</div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile">
			<div class="study-content">
				<p class="description">
					<strong>Phase 2:</strong> Design, Research and Documentation <br><br>
					•&nbsp; Held meetings with UEGroup researchers to discuss needs vs. wants for potential web app <br>
					•&nbsp; Created documents for Use Cases, Needs vs. Requirements and Initial release implementation steps
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/moody-chart.png">
		</div>
	</div>

	<div class="study-row">
		<div class="study-mid-tile-mobile">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 3:</strong> Wireframing <br><br>
					  	•&nbsp; Created wireframes using Balsamiq <Br>
						•&nbsp; Scheduled regular meetings with presentations to receive feedback <br>
						•&nbsp; Created two iterations of Alpha Design <br>
						•&nbsp; Created two iterations of Beta Design <br>
						•&nbsp; Created and presented final design to design team
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/moody-wf-comp.png">
		</div>
		<div class="study-mid-tile-desktop">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 3:</strong> Wireframing <br><br>
					  	•&nbsp; Used Balsamiq to create wireframes <Br>
						•&nbsp; Scheduled regular meetings to present work and receive feedback <br>
						•&nbsp; Created two iterations of Alpha Design <br>
						•&nbsp; Created two iterations of Beta Design <br>
						•&nbsp; Created and presented final design to design team
				</p>
			</div>
		</div>
	</div>

	<div class="study-row bg-blue-2">
		<div class="study-tile">
			<p class="wireframe-title"><strong>Wireframe: Alpha</strong></p>
			<img class="moody-wireframe" src="images/uegroup/moody/moody-alpha.png" alt="">
		</div>
	</div>

	<div class="study-row bg-blue-3">
		<div class="study-tile">
			<p class="wireframe-title"><strong>Wireframe: Beta</strong></p>
			<img class="moody-wireframe" src="images/uegroup/moody/moody-beta.png" alt="">
		</div>
	</div>

	<div class="study-row bg-blue-4">
		<div class="study-tile">
			<p class="wireframe-title"><strong>Wireframe: Final</strong></p>
			<img class="moody-wireframe" src="images/uegroup/moody/moody-final.png" alt="">
		</div>
	</div>	

	<div class="study-row bg-blue-5">
		<div class="case-summary">
			<div class="study-tile case-description">
				<p class="description">
					<strong>Project Recap: Moody </strong> <br><br>
					• Created web prototype of UEGroup Emotional Chart <br>
					• Created wireframes for potential web application <br>
					• Set up internal meetings and created documents 
				</p>
				<div class="padding-25px">
					<p class="skills-header"> Skills </p>
					<div class="skills">
						<p class="green">&nbsp&nbsp DESIGN &nbsp&nbsp</p>
						<p class="green">&nbsp&nbsp DEVELOPMENT &nbsp&nbsp</p>
						<p class="blue">&nbsp&nbsp HTML &nbsp&nbsp</p>
						<p class="blue">&nbsp&nbsp CSS &nbsp&nbsp</p>
						<p class="orange">&nbsp&nbsp JAVASCRIPT &nbsp&nbsp</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>