<div class="moody-container">
	<div class="nav">
		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="https://drive.google.com/file/d/0ByQz8rOk6l16OWdYRzlEdzQ0OE0/view">Resume</a></li>
			<li><a href="#/">Home</a></li>
		</ul>
	</div>

	<div class="study-row">
		<div class="study-tile">
			<div class="study-cover-content">
				<h1> Moody </h1>
				<p class="pronounce"> / ˈmo͞odē / </p>
					<img class="img-responsive nwc-cover-logo" src="images/moody-logo.jpg">
				<p class="verb">Web Prototype and Wireframes</p>
			</div>
		</div>
		<div class="height-50px"></div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile">
			<div class="study-content">
				<p class="description">
					<strong>Philosophy: </strong> The goal of this design project is to replace the current system of recording Emotional Chart data with a simple to use web application. The philosophy behind the project is to create a web application that is as easy or easier to use than the current system. We will accomplish this task by improving the overall efficiency, reducing the amount of data entry and reducing the margin for error.
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/rwd-icon.png">
		</div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile-mobile">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 1:</strong> Empathize and Web Prototype <br><br>

					  1) Empathized self with the UEGroup’s Emotional Chart by shadowing tool being used and interviewing researchers<br>
					  2) Created web prototype of UEGroup’s Emotional Chart to see if project was feasible to create. Web prototype built using HTML / CSS / JS / Node.js / Express.js
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/moody-proto.png">
		</div>
		<div class="study-mid-tile-desktop">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 1:</strong> Empathize and Web Prototype <br><br>

					  1) Empathized self with the UEGroup’s Emotional Chart by shadowing tool being used and interviewing researchers<br>
					  2) Created web prototype of UEGroup’s Emotional Chart to see if project was feasible to create. Web prototype built using HTML / CSS / JS / Node.js / Express.js
				</p>
			</div>
		</div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile">
			<div class="study-content">
				<p class="description">
					<strong>Phase 2:</strong> Design, Research and Documentation <br><br>
					1) Held meetings with UEGroup researchers to discuss needs vs. wants for potential web app <br>
					2) Created documents for Use Cases, Needs vs. Requirements and Initial release implementation steps
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/moody-chart.png">
		</div>
	</div>

	<div class="study-row padding-bottom-75px">
		<div class="study-mid-tile-mobile">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 3:</strong> Wireframing <br><br>
					  	1) Used Balsamiq to create wireframes <Br>
						2) Regular meetings with presentations to receive feedback <br>
						2) Created two iterations of Alpha Design <br>
						3) Created two iterations of Beta Design <br>
						4) Created and presented final design to design team
				</p>
			</div>
		</div>
		<div class="study-mid-tile">
			<img class="moody-body-img" src="images/uegroup/moody/moody-wf-comp.png">
		</div>
		<div class="study-mid-tile-desktop">
			<div class="study-content">
				<p class="description">
					  <strong>Phase 3:</strong> Wireframing <br><br>
					  	1) Used Balsamiq to create wireframes <Br>
						2) Scheduled regular meetings to present work and receive feedback <br>
						2) Created two iterations of Alpha Design <br>
						3) Created two iterations of Beta Design <br>
						4) Created and presented final design to design team
				</p>
			</div>
		</div>
	</div>

	<div class="study-row bg-blue-2">
		<div class="study-tile">
			<p class="wireframe-title"><strong>Wireframe: Alpha</strong></p>
			<img class="moody-wireframe" src="images/uegroup/moody/moody-alpha.png" alt="">
		</div>
	</div>

	<div class="study-row bg-blue-3">
		<div class="study-tile">
			<p class="wireframe-title"><strong>Wireframe: Beta</strong></p>
			<img class="moody-wireframe" src="images/uegroup/moody/moody-beta.png" alt="">
		</div>
	</div>

	<div class="study-row bg-blue-4">
		<div class="study-tile">
			<p class="wireframe-title"><strong>Wireframe: Final</strong></p>
			<img class="moody-wireframe" src="images/uegroup/moody/moody-final.png" alt="">
		</div>
	</div>	

	<div class="study-row bg-blue-5">
		<div class="moody-summary">
			<div class="study-tile moody-description">
				<p class="description">
					<strong>Project Recap: Moody </strong> <br><br>
					1) Created web prototype of UEGroup Emotional Chart <br>
					2) Created wireframes for potential web application <br>
					3) Set up internal meetings to research web application needs <br>
					4) Created documents detailing use cases, implementation steps and needs vs. wants
				</p>
			</div>
		</div>
	</div>

	<div class="home-footer">
		<!-- CSS Hack to hide blue stripe from container bg-color -->
			<div class="contact-tile" style="border: 1px solid #1A1A1A !important;">
				<p class="contact-header">Antonio Lee</p>
			</div>
			<div class="contact-tile">
				<p class="contact-description">Design & Development based out of San Jose, California</p>
			</div>
			<div class="contact-tile contact-contact">
				<p class="contact-title">Contact</p>
				<p><a class="contact-info" href="mailto:antoniolee@outlook.com" >antoniolee@outlook.com</a></p>
				<p><a class="contact-info" href="https://www.linkedin.com/pub/antonio-lee/61/196/351">LinkedIn</a></p>
				<p><a class="contact-info" href="https://codepen.io/antoniolee/">CodePen</a></p>
				<p><a class="contact-info" href="https://github.com/antoniolee">GitHub</a></p>
			</div>
			<div class="contact-tile contact-reserved">
				<p>© 2015 Antonio Lee</p>
				<p>All rights reserved</p>
			</div>
	</div>

</div>