<div class="container-fluid nwc-container">
	<div class="nav">
		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="#blog">Blog</a></li>
			<li><a href="#/">About</a></li>
		</ul>
	</div>

	<div class="study-row">
		<div class="study-tile">
			<div class="study-content">
				<h1>Now We're Cookin'</h1>
				<p class="pronounce">/ nou - (wir,wər) - ko͝okiNG / </p>
				<p class="verb">Noun</p>
				<span class="description">1.</span>
				<p class="description">
					Now We're Cooking is a mobile game for Android and iOS devices. The plot takes place in a cooking-reality television show, Now We're Cooking!, where three hot upcoming new chefs, Breakfast, Dinner and Dessert, have been invited to participate. However, when they arrived, the evil host announced his plan to trap them forever and the whole show changes into a survival challenge. The three chefs must work together to defeat the evil food he sends their way to survive!
				</p>
				<span class="description">2.</span>
				<p class="description">
					The goal of the game is to cook as much food as possible. At the start of each level the host will tell you the goal of each level. Once the level begins, the food that will move towards the chefs. You will be able innovate and create new dishes by swiping together different foods from the three different lanes.
				</p>
				<span class="description">3.</span>
				<p class="description">
					Swiping together different types of foods will also increase your combo multiplier, but be careful! If you make a bad dish your combo multiplier will be reset. You're gonna need to make some good combos in order to buy the necessary ingredients to create the dish of the century!
				</p>
				<p class="skills-header"> Skills </p>
				<div class="skills">
					<p class="green">&nbsp&nbsp GAME DESIGN &nbsp&nbsp</p>
					<p class="blue">&nbsp&nbsp SCRUM &nbsp&nbsp</p>
					<p class="orange">&nbsp&nbsp LUA &nbsp&nbsp</p>
					<p class="orange">&nbsp&nbsp CORONA SDK &nbsp&nbsp</p>
				</div>
			</div>
		</div>
		<div class="study-image-wrapper study-tile">
			<img class="img-responsive study-image" src="images/nwc/nwc-logo.png">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<img class="img-responsive" src="images/nwc/nwc-logo.png">
		</div>
		<div class="col-sm-3">
			<img class="img-responsive" src="images/nwc/nwc-logo.png">
		</div>
		<div class="col-sm-3">
			<img class="img-responsive" src="images/nwc/nwc-logo.png">
		</div>
		<div class="col-sm-3">
			<img class="img-responsive" src="images/nwc/nwc-logo.png">
		</div>
	</div>
	
</div>