<div class="container-fluid nwc-container">
	<div class="nav">
		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="misc/antoniolee-resume.pdf">Resume</a></li>
			<li><a href="#/">Home</a></li>
		</ul>
	</div>

	<div class="nwc-cover-row">
		<div class="study-tile">
			<div class="study-content">
				<h1>Now We're Cookin'</h1>
				<p class="pronounce">/ nou - (wir,wər) - ko͝okiNG / </p>
				<img class="img-responsive nwc-cover-logo" src="images/nwc-logo.png">
				<p class="verb">Casual Mobile Video Game</p>
			</div>
		</div>
	</div>

	<div class="study-row">
		<div class="nwc-tile">
			<div class="nwc-content">
				<p class="description">
					<strong>Now We're Cooking</strong> is a mobile game for Android and iOS devices. The story takes place in a cooking-reality television show where three hot upcoming new chefs, Breakfast, Dinner and Dessert, have been invited to compete. However when they arrive, the game host announces his plan to trap them and force them to create evil living food creatures forever! Now you must utilize the three different chef powers to turn the evil food back into edible dishes and stop the game host before its too late!
				</p>
			</div>
		</div>
		<div class="nwc-tile">
			<img class="nwc-body-img" src="images/nwc/nwc-collage.png">
		</div>
	</div>

	<div class="study-row">
		<div class="nwc-tile-mobile">
			<div class="nwc-content">
				<p class="description">
					  <strong>The goal is to cook as much food as possible.</strong> At the start of each level, the host will tell you your objectives. Once the level begins, the food that will move towards the chefs. You will be able innovate and create new dishes by swiping together different foods from the three different lanes.
				</p>
			</div>
		</div>
		<div class="nwc-tile">
			<img class="nwc-body-img" src="images/nwc/nwc-loading.png">
		</div>
		<div class="nwc-tile-desktop">
			<div class="nwc-content">
				<p class="description">
					  <strong>The goal is to cook as much food as possible.</strong> At the start of each level, the host will tell you your objectives. Once the level begins, the food that will move towards the chefs. You will be able innovate and create new dishes by swiping together different foods from the three different lanes.
				</p>
			</div>
		</div>
	</div>

	<div class="study-row">
		<div class="nwc-tile">
			<div class="nwc-content">
				<p class="description">
					<strong>Swipe together different types of ingredients to create the meal of the century!</strong> But be careful! If you make a bad dish, your combo multiplier will reset. You're gonna need to make some amazing dishes to get out of this mess! 
				</p>
			</div>
		</div>
		<div class="nwc-tile">
			<img class="nwc-body-img" src="images/nwc/nwc-cake.png">
		</div>
	</div>

	<div id="nwc-footer">
	</div>

</div>