<div id="section-svg" class="center">
	<div class="nav">
		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="https://drive.google.com/file/d/0ByQz8rOk6l16OWdYRzlEdzQ0OE0/view?usp=sharing" target="_blank">Resume</a></li>
			<li><a href="#">Home</a></li>
		</ul>
	</div>

	<div class="svg-header">
		<h1>Responsive SVG Icons</h1>
		<h4> <strong>Try</strong> clicking icons and resizing the window! </h4>
	</div>

	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<object>
				<embed id="svg-turtle" src="svg/turtle.svg">
			</object>
		</div>
		<div class="col-sm-4"></div>
	</div>

<hr>

	<div class="row">
		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-contact.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-computer.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-pencil-ruler.svg">
			</object>
		</div>
	</div>

<hr>

	<div class="row">
		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-home.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-magnify.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-menu.svg">
			</object>
		</div>
	</div>

<hr>

	<div class="row">
		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-map.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-console.svg">
			</object>
		</div>

		<div class="col-sm-4">
			<object>
				<embed class="svg-icon" src="svg/icon-down-arrow.svg">
			</object>
		</div>
	</div>


<div class="home-footer">
			<div class="contact-tile">
				<p class="contact-header">Antonio Lee</p>
			</div>
			<div class="contact-tile">
				<p class="contact-description">Design & Development based out of San Jose, California</p>
			</div>
			<div class="contact-tile contact-contact">
				<p class="contact-title">Contact</p>
				<p><a class="contact-info" href="mailto:antoniolee@outlook.com" >antoniolee@outlook.com</a></p>
				<p><a class="contact-info" href="https://www.linkedin.com/pub/antonio-lee/61/196/351">LinkedIn</a></p>
				<p><a class="contact-info" href="https://codepen.io/antoniolee/">CodePen</a></p>
				<p><a class="contact-info" href="https://github.com/antoniolee">GitHub</a></p>
			</div>
			<div class="contact-tile contact-reserved">
				<p>© 2015 Antonio Lee</p>
				<p>All rights reserved</p>
			</div>
	</div>

</div>
