<div class="works-container">
	<div class="nav">

		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#/">About</a></li>
		</ul>

	</div>

	<div class="works-header">
		<p class="header">Works</p>
		<p class="pronounce">/ (wərk-s) / </p>
	</div>

	<div class="works-row">

		<div class="tile">
			<p class="tile-caption"> Now We're Cookin' </p>
			<!-- a href="#/nwc" -->
				<img class="img-responsive" src="images/nwc/nwc-logo.png">
			<!-- /a -->
		</div>
		<div class="tile">
			<p class="tile-caption"> Solar Crysis </p>
			<img class="img-responsive" src="images/solarcrysis-logo.png">
		</div>
	</div>

	<div class="works-row">
		<div class="tile">
			<p class="tile-caption"> UEGroup </p>
			<img class="img-responsive" src="images/uegroup-logo.png">
		</div>
		<div class="tile">
			<p class="tile-caption"> Galileo Learning @ The Tech </p>
			<img class="img-responsive" src="images/galileo-logo.jpeg">
		</div>
	</div>

	<div class="works-row">
		<div class="tile">
			<p class="tile-caption"> University of California, Santa Cruz </p>
			<img class="img-responsive" src="images/ucsc-logo.png">
		</div>
		<div class="tile">
			<p class="tile-caption"> Merit World </p>
			<img class="img-responsive" src="images/merit-logo.png">
		</div>
	</div>

	<div class="works-row">
		<div class="tile">
			<p class="tile-caption"> Cubico Media Labs </p>
			<img class="img-responsive" src="images/cubico-logo.jpeg">
		</div>
	</div>

</div>