<div class="works-container">
	<div class="nav">

		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="misc/antoniolee-resume.pdf">Resume</a></li>
			<li><a href="#/">Home</a></li>
		</ul>

	</div>

	<div class="works-header">
		<p class="header">Works</p>
		<p class="pronounce">/ (wərk-s) / </p>
	</div>

	<div class="works-row">

		<div class="works-tile">
			<p class="tile-caption"> Now We're Cookin' </p>
			<a href="#/nwc">
				<img class="img-responsive" src="images/nwc/nwc-logo.png">
			</a>
		</div>
		<div class="works-tile">
			<p class="tile-caption"> Solar Crysis </p>
			<img class="img-responsive" src="images/solarcrysis-logo.png">
		</div>
	</div>

	<div class="works-row">
		<div class="works-tile">
			<p class="tile-caption"> UEGroup </p>
			<img class="img-responsive" src="images/uegroup-logo.png">
		</div>
		<div class="works-tile">
			<p class="tile-caption"> Galileo Learning @ The Tech </p>
			<img class="img-responsive" src="images/galileo-logo.jpeg">
		</div>
	</div>

	<div class="works-row">
		<div class="works-tile">
			<p class="tile-caption"> Moody </p>
			<a href="#/moody" onclick="scroll(0,0)">
				<img class="img-responsive" src="images/moody-logo.jpg">
			</a>
		</div>
		<div class="works-tile">
			<p class="tile-caption"> Responsive Design Guidelines </p>
			<a href="misc/uegroup/rwd-for-designers.pdf">
				<img class="img-responsive" src="images/rwd-logo.jpg">
			</a>
		</div>
	</div>

	<div class="works-row">
		<div class="works-tile">
			<p class="tile-caption"> University of California, Santa Cruz </p>
			<img class="img-responsive" src="images/ucsc-logo.jpg">
		</div>
		<div class="works-tile">
			<p class="tile-caption"> Merit World </p>
			<img class="img-responsive" src="images/merit-logo.jpg">
		</div>
	</div>

	<div class="works-row">
		<div class="works-tile">
			<p class="tile-caption"> Cubico Media Labs </p>
			<img class="img-responsive" src="images/cubico-logo.jpg">
		</div>
	</div>

	<div class="works-footer-space"></div>

	<div id="works-footer" class="works-footer">
			<div class="contact-tile">
				<p class="contact-header">Antonio Lee</p>
			</div>
			<div class="contact-tile">
				<p class="contact-description">Design & Development based out of San Jose, California</p>
			</div>
			<div class="contact-tile contact-contact">
				<p class="contact-title">Contact</p>
				<p><a class="contact-info" href="mailto:antoniolee@outlook.com" >antoniolee@outlook.com</a></p>
				<p><a class="contact-info" href="https://www.linkedin.com/pub/antonio-lee/61/196/351">LinkedIn</a></p>
				<p><a class="contact-info" href="https://codepen.io/antoniolee/">CodePen</a></p>
				<p><a class="contact-info" href="https://github.com/antoniolee">GitHub</a></p>
			</div>
			<div class="contact-tile contact-reserved">
				<p>© 2015 Antonio Lee</p>
				<p>All rights reserved</p>
			</div>
	</div>	

</div>