<div class="works-container">
	<div class="nav">

		<ul class="nav-list">
			<li><a href="#works">Works</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#/">About</a></li>
		</ul>

	</div>

	<div class="works-header">
		<p class="header">Works</p>
		<p class="pronounce">/ (wərk-s) / </p>
	</div>
	<div class="works-row">
		<div class="tile">
			<p class="tile-caption"> Now We're Cookin' </p>
			<!-- a href="#/nwc" -->
				<img class="img-responsive" src="images/nwc/nwc-logo.png">
			<!-- /a -->
		</div>
		<div class="tile">
			<p class="tile-caption"> Solar Crysis </p>
			<img class="img-responsive" src="images/solarcrysis-logo.png">
		</div>
	</div>
	<div class="works-row">
		<div class="tile">
			<p class="tile-caption"> Work in Progress </p>
			<img class="img-responsive" src="images/lock-blue.png">
		</div>
		<div class="tile">
			<p class="tile-caption"> Work in Progress </p>
			<img class="img-responsive" src="images/lock-orange.png">
		</div>
	</div>
	<div class="works-row">
		<div class="tile">
			<p class="tile-caption"> Work in Progress </p>
			<img class="img-responsive" src="images/lock-red.png">
		</div>
		<div class="tile">
			<p class="tile-caption"> Work in Progress </p>
			<img class="img-responsive" src="images/lock-green.png">
		</div>
	</div>

</div>