<footer>
    <div class="footer-container">
        <div class="blurb">
            <h2>Want to connect?</h2>
            <p>Or just want to say hi? I'm open for both.</p>
            <a href="mailto:antoniolee@outlook.com">antoniolee@outlook.com</a>
            <p class="copyright">Antonio Lee © Copyright 2019</p>
        </div>
        <div class="icons">
            <a href="https://www.facebook.com/antoniohlee/">
                <img src="https://res.cloudinary.com/antoniolee/image/upload/v1553846538/facebook_hn2r7a.png" alt="">
            </a>
            <a href="https://www.instagram.com/antoniohlee/">
                <img src="https://res.cloudinary.com/antoniolee/image/upload/v1553846613/instagram_mmvl8s.png" alt="">
            </a>
            <a href="https://twitter.com/antoniohlee/">
                <img src="https://res.cloudinary.com/antoniolee/image/upload/v1553846622/twitter_e0wfhc.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/antoniohlee/">
                <img src="https://res.cloudinary.com/antoniolee/image/upload/v1553846618/linkedin_kiyurr.png" alt="">
            </a>
        </div>
    </div>
</footer>