<footer>
    <div class="footer-container">
        <div class="blurb">
            <h2>Want to connect?</h2>
            <p>Or just want to say hi? I'm open for both.</p>
            <a href="mailto:antoniolee@outlook.com">antoniolee@outlook.com</a>
            <p class="copyright">Antonio Lee © Copyright 2019</p>
        </div>
        <div class="icons">
            <a href="https://www.facebook.com/antoniohlee">
                <img src="{{ page.root }}/assets/imgs/icons/facebook.svg" alt="">
            </a>
            <a href="https://www.instagram.com/antoniohlee/">
                <img src="{{ page.root }}/assets/imgs/icons/instagram.svg" alt="">
            </a>
            <a href="https://twitter.com/antoniohlee">
                <img src="{{ page.root }}/assets/imgs/icons/twitter.svg" alt="">
            </a>
            <a href="https://www.linkedin.com/in/antoniohlee/">
                <img src="{{ page.root }}/assets/imgs/icons/linkedin.svg" alt="">
            </a>
        </div>
    </div>
</footer>