<footer>
    <div class="footer-container">
        <div class="blurb">
            <h2>Want to connect?</h2>
            <p>Or just want to say hi? I'm open for both.</p>
            <a href="mailto:antoniolee@outlook.com">Send me a message</a>
        </div>
        <div class="icons">
            <img src="/assets/imgs/icons/facebook.svg" alt="">
            <img src="/assets/imgs/icons/instagram.svg" alt="">
            <img src="/assets/imgs/icons/twitter.svg" alt="">
            <img src="/assets/imgs/icons/linkedin.svg" alt="">
        </div>
    </div>
</footer>