<nav id="nav">
    <div class="container">
        <a href="../" class="nav-title">antoniolee.me</a>
        <ul>
            <li><a class="" href="/">work</a></li>
            <li><a class="" href="/about/">about</a></li>
            <li><a class="" href="{{ site.url }}/assets/antoniolee-resume.pdf">resume</a></li>
            <li>
                <a class="btn-open" href="javascript:void(0);"><img src="{{ page.root }}/assets/imgs/nav/menu.png" alt=""></a>
            </li>
        </ul>
    </div>
</nav> 