<nav id="nav">
    <div class="container">
        <a href="../" class="nav-title underline-blue">Antonio Lee</a>
        <ul>
            <li><a class="underline-blue" href="/">Work</a></li>
            <li><a class="underline-orange" href="/about/">About</a></li>
            <!-- <li><a class="underline-gray" href="{{ site.url }}/assets/antoniolee-resume.pdf">Resume</a></li>
            <li><a class="underline-gray" href="mailto:antoniolee@outlook.com">Contact</a></li> -->
            <li>
                <a class="btn-open" href="javascript:void(0);"><img src="{{ page.root }}/assets/imgs/nav/menu.png" alt=""></a>
            </li>
        </ul>
    </div>
</nav> 