// About

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

:root {
	font-size: 16px;
}

// About
section.about {
	max-width: 1440px;
	margin: 150px auto 0;

	a {
		font-weight: 600;
		color: $black;
		position: relative;
		-webkit-transition: .33s ease all;
		transition: .33s ease all;
		text-decoration: none;
		padding: 0 0 5px;
	}

	a:hover {
		color: $link-blue;
	}

	// Intro Section
	div.intro {
		padding: 0 30px;
		margin: 120px 0 90px;

		div.blurb {
			margin-bottom: 60px;
			max-width: 540px;
			margin: 0 auto;

			p {
				font-size: 16px;
				margin: 15px 0;
			}
		}
	}

	// Photo Grid
	div.photo-grid {
		* {
			transition: .33s ease all;
		}

		padding: 0 15px;
		display: -ms-grid;
		display: grid;
		grid-gap: 4px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(15, 1fr);
		margin-bottom: 60px;

		.about-photo-container {
			width: 100%;
			height: 360px;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
		}

		.about-photo-container:hover .about-photo {
			filter: grayscale(0);
			opacity: 1;
		}

		.about-photo {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: none;
			filter: grayscale(1);
			opacity: .66;
		}

		.ap-1 {
			background-image: url("https://media.giphy.com/media/n4TTC9X0sRMVq/giphy.gif");
		}
		.ap-2 {
			background-image: url("/assets/imgs/about/maui.jpg");
		}
		.ap-3 {
			background-image: url("/assets/imgs/about/rock-climbing.jpg");
		}
		.ap-4 {
			background-image: url("/assets/imgs/about/tampalais.jpg");
		}
		.ap-5 {
			background-image: url("/assets/imgs/about/portrait.jpg");
		}
		.ap-6 {
			background-image: url("/assets/imgs/about/fs-bigspin.gif");
		}
		.ap-7 {
			background-image: url("/assets/imgs/about/injury.jpg");
		}
		.ap-8 {
			background-image: url("/assets/imgs/about/portrait-animation-fast.gif");
			background-color: #FFCAFC;
		}
		.ap-9 {
			background-image: url("/assets/imgs/about/sammy-awards.jpg");
		}
		.ap-10 {
			background-image: url("/assets/imgs/about/djing.jpg");
		}
		.ap-11 {
			background-image: url("/assets/imgs/about/double-exposure.jpg");
		}
		.ap-12 {
			background-image: url("/assets/imgs/about/maui-2.jpg");
			background-position: left;
		}
		.ap-13 {
			background-image: url("/assets/imgs/about/futur.jpg");
		}
		.ap-14 {
			background-image: url("/assets/imgs/about/galileo.jpg");
		}
		.ap-15 {
			background-image: url("/assets/imgs/about/baby-programmer.jpg");
		}
	}
}

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
	// Grid fixes for IE goes here...
	section.about {
		div.photo-grid {
			content: "No CSS Grid support in IE 11 :( Try another browser.";
			display: none;
		}
	}
}

@media screen and (min-width: 500px){
	section.about {
		// Photo Grid
		div.photo-grid {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(5, 1fr);

			.about-photo-container {
				height: 180px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	section.about {
		padding: 0 45px;

		div.intro {
			margin: 180px 0 150px;
		}

		div.photo-grid {
			padding: 30px 0 0 0;

			.about-photo-container {
				height: 220px;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	section.about {

		div.intro {
			div.blurb {
				p {
					// font-size: 20px;
					margin: 20px 0;
				}
			}
		}

		div.photo-grid {
			margin-bottom: 90px;
			// grid-template-columns: repeat(5, 1fr);
			// grid-template-rows: repeat(3, 1fr);

			.about-photo-container {
				height: 340px;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	section.about {
		div.intro {
			div.blurb {
				max-width: 600px;

				p {
					font-size: 18px;
				}
			}
		}

		div.photo-grid {
			.about-photo-container {
				height: 420px;
			}
		}
	}
}