// About

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

:root {
	font-size: 16px;
}

// About
section.about {
	padding: 0 30px;
	max-width: 1440px;
	margin: 120px auto 0;

	* {
		transition: .33s ease all;
	}

	a {
		font-weight: 600;
		color: $black;
		position: relative;
		transition: .33s ease all;
		text-decoration: none;
		padding: 0 0 5px;
	}

	// Intro Section
	div.intro {
		margin: 120px 0 90px;

		div.blurb {
			font-size: 24px;
			margin-bottom: 60px;
			max-width: 540px;
			margin: 0 auto;
		}
	}

	// Photo Grid
	div.photo-grid {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(12, 1fr);
		margin-bottom: 60px;

		img {
			width: 100%;
			// max-width: 470px;
			margin: 0 auto;
			grid-area: span 1 / span 1;
			opacity: .8;
		}

		img:hover {
			transform: scale(1.025);
			// box-shadow: 0 4px 8px rgba(0,0,0,.25);
			opacity: 1;
		}

		div.about-img {
			position: relative;

			div.overlay {
				// Hide overlay
				opacity: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 98.8%;
				width: 100%;
				transition: .33s ease;
				background-color: rgba(#008CBA, .8);

				div.about-caption {
					color: white;
					font-size: 20px;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					text-align: center;
				}
			}

			div.overlay:hover {
				// Show overlay
				opacity: 1;
			}
		}
	}

}

@media screen and (min-width: 500px){
	section.about {
		// Photo Grid
		div.photo-grid {
			grid-gap: 5px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);

			img {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	section.about {
		padding: 0 45px;

		div.intro {
			margin: 180px 0 180px;
		}
	}
}

@media screen and (min-width: 1024px) {
	section.about {
		div.photo-grid {
			grid-gap: 10px;
		}
	}
}

@media screen and (min-width: 1200px) {
	section.about {
		div.intro {
			div.blurb {
				font-size: 24px;
				max-width: 660px;
			}
		}
	}
}