// About

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

:root {
	font-size: 16px;
}

// About
section.about {
	max-width: 1440px;
	margin: 120px auto 0;

	* {
		-webkit-transition: .33s ease all;
		transition: .33s ease all;
	}

	a {
		// font-weight: 600;
		// color: $black;
		position: relative;
		-webkit-transition: .33s ease all;
		transition: .33s ease all;
		text-decoration: none;
		padding: 0 0 5px;
	}

	// Intro Section
	div.intro {
		padding: 0 30px;
		margin: 150px 0 90px;

		div.blurb {
			font-size: 24px;
			margin-bottom: 60px;
			max-width: 540px;
			margin: 0 auto;

			p {
				margin: 30px 0;
			}
		}
	}

	// Photo Grid
	div.photo-grid {
		padding: 0 15px;
		display: -ms-grid;
		display: grid;
		grid-gap: 10px;
		-ms-grid-columns: 1fr;
		-ms-grid-rows: (1fr)[12];
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(12, 1fr);
		margin-bottom: 60px;

		img {
			width: 100%;
			// max-width: 470px;
			margin: 0 auto;
			opacity: .85;
		}

		img:hover {
			-webkit-transform: scale(1.02);
			        transform: scale(1.02);
			// box-shadow: 0 4px 8px rgba(0,0,0,.25);
			opacity: 1;
		}
	}

	img.about-photo:nth-child(-n+12) {
		-ms-grid-column: 4;
	}
	img.about-photo:nth-child(-n+9) {
		-ms-grid-column: 3;
	}
	img.about-photo:nth-child(-n+6) {
		-ms-grid-column: 2;
	}
	img.about-photo:nth-child(-n+3){
		-ms-grid-column: 1;
	}
}

@media screen and (min-width: 500px){
	section.about {
		// Photo Grid
		div.photo-grid {
			grid-gap: 5px;
			-ms-grid-columns: (1fr)[3];
			-ms-grid-rows: (1fr)[4];
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(4, 1fr);

			img {
				width: 100%;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	section.about {
		padding: 0 45px;

		div.intro {
			margin: 180px 0 150px;
		}

		div.photo-grid {
			padding: 0;
		}
	}
}

@media screen and (min-width: 1024px) {
	section.about {
		div.photo-grid {
			margin-bottom: 90px;
			grid-gap: 10px;
		}
	}
}

@media screen and (min-width: 1200px) {
	section.about {
		div.intro {
			div.blurb {
				font-size: 24px;
				max-width: 660px;
			}
		}
	}
}