// _blog.scss

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

.writing {
	transition: .33s ease all;
	padding: 150px 60px 100px;
	align-items: flex-start;

	.left, .right {
		max-width: 600px;
	}

	.left {
		padding: 0 100px 0 0;

		span {
			max-width: 40px;
			border: 1px solid white;
			padding: 10px 10px 7px 10px;
			font-family: "Avenir";
			font-size: 20px;
			font-weight: 600;
			text-align: center;
		}

		h1 {
			margin-top: 45px;
			margin-bottom: 30px;
		}

		p {
			max-width: 80%;
			margin-top: 0;
			opacity: .85;
		}

		.date {
			font-size: 20px;
			opacity: .7;
		}
	}

	.right { 
		padding: 0 0 0 100px;

		p {
			margin-top: 0;
			opacity: .9;
		}
	}
}

.PageNavigation {
	margin-top: 15px;
}

.PageNavigation a {
	border: 1px solid white;
	padding: 12px;
	font-family: "Avenir";
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 15px;
	font-size: 16px;
	transition: .33s ease all;
}

.PageNavigation a:hover {
	background-color: rgba(255,255,255,.15);
	text-decoration: none;
}

.PageNavigation a:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

.PageNavigation .next {

}

.fa-arrow-circle-left, .fa-chevron-left {
	margin-right: 12px;
}
.fa-arrow-circle-right, .fa-chevron-right {
	margin-left: 12px;
}

@media screen and (max-width: 1200px){
	.writing {
		.left {
			padding-right: 60px;

			h1 {
				font-size: 48px;
				line-height: 66px;
			}

			p {
				max-width: 100%;
				font-size: 20px;
			}

			.date {
				font-size: 16px;
			}
		}

		.right {
			padding-left: 60px;

			p {
				font-size: 20px;
				line-height: 30px;
			}
		}
	}
}

@media screen and (max-width: 800px){
	.writing {
		padding: 120px 60px;
		flex-direction: column;
 
		.left, .right {
			max-width: 100%;
			width: 100%;
			padding: 0;
		}

		.left {
			direction: ltr;
			margin-bottom: 30px;
			padding-right: none;

			h1 {
				margin-top: 30px;
				margin-bottom: 15px;
			}
		}

		.right {
			padding: 30px 0;
			border-left: none;
			border-top: 1px solid white;
		}
	}

}


@media screen and (max-width: 480px){
	.writing {
		padding: 90px 30px;

		.left, .right {

		}

		.left {
			h1 {
				font-size: 32px;
				line-height: 44px;
			}
		}

		.right {
			p {
				font-size: 18px;
			}
		}
	}

}


// 001
#beginnings {
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("imgs/bg-4.jpg");
	background-size: cover;
	background-position: center;
	color: white;
}

// 002
#purpose-over-passion {
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("imgs/bg-3.jpg");
	background-size: cover;
	background-position: center;
	color: white;
}

// 003
#focus {
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url("imgs/bg-5.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	min-height: 100vh;
}

// 004
#random-thoughts {
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("imgs/bg-2.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	min-height: 100vh;
}

// 005
#in-the-particular-lies-the-universal {
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("imgs/bg-1.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	min-height: 100vh;
}


// // 004
// #teams {
// 	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("imgs/bg-2.jpg");
// 	background-size: cover;
// 	background-position: center;
// 	color: white;
// }

// // 005
// #the-internet {
// 	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url("imgs/bg-5.jpg");
// 	background-size: cover;
// 	background-position: center;
// 	color: white;
// }
