// Footer

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

footer {
    background-color: #202020;
    color: white;

    div.footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 60px 30px;
        text-align: center;

        div.blurb {
            margin-bottom: 45px;

            h1 {
                font-size: 24px;
                margin: 10px 0 15px;
            }

            h4 {
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0;
                color: #FF8FB8;
            }

            p {
                margin: 15px 0;
            }

            p.copyright {
                font-size: 12px;
                opacity: .6;
            }

            a {
                transition: .33s ease all;
                display: block;
                position: relative;
                text-decoration: none;
                font-weight: 500;
                color: white;
            }

            a:hover {
                transition: .33s ease all;
                color: $link-blue;
            }
        }

        div.icons {
            width: 100%;
            max-width: 280px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin: 0 auto;
            
            a {
                transition: .33s ease;
            }

            img {
                transition: .33s ease all;
                width: 30px;
                opacity: .8;
            }

            img:hover {
                opacity: 1;
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        div.footer-container {
            flex-direction: row;
            justify-content: space-between;
            padding: 90px 45px;
            max-width: 1440px;
            text-align: left;

            div.blurb {
                margin: 0;
            }

            div.icons {
                img {
                    //  width: 40px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        div.footer-container {
            padding: 90px;

            div.blurb {

                h2 {
                    font-size: 24px;
                }

                a {
                    font-size: 16px;
                }

                p.copyright {
                    font-size: 14px;
                }
            }
        }
    }
}