
// _menu.scss

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(255, 255, 255); /* Black fallback color */
    background-color: rgba(255, 255, 255, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left; /* Centered text/links */
}

/* The navigation links inside the overlay */
.overlay a {
    position: relative;
    font-weight: 700;    
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    // display: inline; /* Display block instead of inline */
    transition: .33s ease all;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #262626;
}

/* Position the close button (top right corner) */
.overlay .btn-close {
    position: absolute;
    top: -9px;
    right: 14px;
    font-size: 60px;
    font-weight: 400;
}

a::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100%;
    height: 30%;
    pointer-events: none;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.33s;
}

a:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
}

a.underline-orange::before {
    background-color: $light-orange;
}

a.underline-dark-blue::before {
    background-color: $menu-blue-dark;
}

a.underline-blue::before {
    background-color: $light-blue;
}

a.underline-light-gray::before {
    background-color: $menu-gray-light;
}

a.underline-gray::before {
    background-color: $menu-gray;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}