// grid

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

:root {
    --grid-padding: 90px;
    --accent-color: #000;
    --accent-width: 30px;
}

@media screen and (max-width: 1920px){
    :root {
        --grid-padding: 60px;
    }
}

@media screen and (max-width: 1366px) {
    :root {
        --grid-padding: 60px;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --accent-width: 20px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --grid-padding: 30px;
    }
}