// Homepage

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

:root {
	font-size: 16px;
}

// Homepage
section.homepage {
	background-color: black;
	padding: 30px;
	max-width: 1440px;
	margin: 60px auto 0;

<<<<<<< HEAD
	section.intro {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 30px 0 60px;
=======
	// Intro Section
	div.intro {
		margin: 150px 0 90px;
>>>>>>> parent of 5afadfe... Polish

		div.text {
			margin: 0 0 30px 0;

			h1 {
				margin: 0 0 10px 0;
			}

			p {
				margin: 0;
			}
		}

		div.gif {
			img {
				display: block;
				width: 100%;
				max-width: 768px;
				margin: 0 auto;
			}
		}
	}

	section.companies {
		div.text {

		}

		div.logos {
			display: flex;
			// flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow-x: scroll;

			img {
				width: 100%;
				max-width: 120px;
				margin: 20px;
			}
		}
	}

	@media screen and (min-width: 768px) {
		padding: 45px;

		section.intro {
			flex-direction: row;
			justify-content: space-between;

			div.text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 30px;
			}

			div.gif {
				margin-left: 30px;
			}

		}
	}

	@media screen and (min-width: 1024px) {}

	@media screen and (min-width: 1200px) {
		section.intro {
			div.text {
				max-width: 500px;

				h1 {
					font-size: 40px;
				}

				p {
					font-size: 20px;
				}
			}

			div.gif {
				max-width: 600px;
			}
		}
	}
}