// Homepage

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

:root {
	font-size: 16px;
}

// Homepage
section.homepage {
	padding: 0 30px;
	max-width: 1440px;
	margin: 0 auto;

	// Intro Section
	div.intro {
		margin: 150px 0 90px;

		div.blurb {
			font-size: 24px;
			margin-bottom: 60px;
			max-width: 540px;
			margin: 0 auto;
		}
	}

	div.work {
		margin-bottom: 90px;

		a {
			position: relative;
			font-weight: 600;
			text-decoration: none;
			padding: 0 2px 5px;

			// Have to set max-width for underline to work in a parent container with width set to 100%; 
			max-width: 125px;
		}

		div.work-slab {
			margin-bottom: 30px;
		}

		// Disable for projects not live
		.coming-soon {
			cursor: not-allowed;
		}

		div.work-title {
		text-align: center;
		padding: 30px 0;

			h1 {
				font-size: 20px;
				margin: 0 0 15px 0;
				font-weight: 500;
			}

			a {
				// text-transform: uppercase;
				font-weight: 500;
				color: #2F7DEF;
				text-decoration: none;
				font-size: 16px;
			}

			p {
				margin: 0;
			}

			a:hover {

			}
		}

		div.work-img {
			background-color: #f2f2f2;
		}

		div.work-img:hover {
			background-color: darken(#f2f2f2, 10%);
		}

		img {
			width: 100%;
			margin: 0 auto;
			padding: 10%;
		}

		img:hover {
			transform: scale(1.05);
		}
	}

}

@media screen and (min-width: 768px) {
	section.homepage {
		padding: 0 45px;

		div.intro {
			margin: 240px 0 180px;
		}

		div.work {
			div.work-title {
				h1 {
					font-size: 24px;
					margin-bottom: 15px;
				}

				a {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	section.homepage {
		div.work {
			div.work-slab {
				display: flex;
			}

			div.work-title {
				text-align: left;
				width: 100%;
				max-width: 400px;
				padding: 0 30px 0 90px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	section.homepage {
		div.intro {
			div.blurb {
				font-size: 32px;
				max-width: 620px;
			}
		}

		div.work {
			div.work-title {
				max-width: 550px;

				// h1 {
				// 	font-size: 28px;
				// }

				// a {
				// 	font-size: 20px;
				// }
			}
		}
	}
}