// nav.scss

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.


nav {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.34);
	flex-direction: row;
	height: 60px;
	font-size: 16px;
	font-family: "Avenir";
	margin-right: 60px;
}

nav p {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	font-family: "Avenir";
	margin-left: 30px;
	color: white;
	max-width: 700px;
}

nav ul {
	max-width: 700px;
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: flex-end;
}

nav ul li {
	font-size: 16px;
	font-family: "Avenir";
	margin-right: 30px;
}

nav ul li:first-child {
	display: flex;
	justify-content: flex-start;
}

