// Nav

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

#nav {
    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 30px;

            a {
                transition: .33s ease all;
                opacity: .6;
                font-weight: bold;
                color: white;
                text-decoration: none;
            }

            a:hover {
                opacity: 1;
            }
        }

        li:last-child {
            display: none;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 900px) {
    #nav {
        ul {
            li {
                display: none;
            }
            li:last-child {
                display: inline;
            }
        }
    }
}