// Work

// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.
// The underscore lets Sass know that the file is only a partial file and that it should not be generated into a CSS file.

section.work {
    color: #262626;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    #nav ul li a {
        color: #262626;
    }

    div.tile-definition {
        box-sizing: border-box;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;

        .definition {
            span {
                border-color: #262626;
            }
        }

        .under-construction {
            font-weight: normal;
            font-style: italic;
            margin-top: 30px;
            background-color: rgba(0,0,0,.25);
            display: inline-block;
            padding: 15px;
        }
    }

    div.tile-work {
        transition: .33s ease all;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h2 {
            transition: 0.66s ease all;
            z-index: 10;
            position: relative;
            font-size: 2rem;
            text-align: center;
            padding: 0 .25em;
            opacity: .75;
            margin: 0;
        }

        h2::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: calc(50%);
            left: 0;
            width: 100%;
            height: 50%;
            pointer-events: none;
            transform: scale3d(0, 1, 1);
            transform-origin: 0% 50%;
            transition: 0.66s ease all;
            // background-color: rgba(255,255,255,.05);
        }

        p {
            position: relative;
            top: 30px;
            margin: 0;
            opacity: 0;
            transition: .33s ease all;
            font-style: italic;
        }
    }


    div.tile-work:hover {
        cursor: not-allowed;

        h2 {
            opacity: 1;
        }

        h2::before {
            transform: scale3d(1,1,1);
            transform-origin: 0% 50%;
        }

        p {
            opacity: 1;
            transition: .33s ease all;
        }
    }


    div.xilinx {
        background-color: $xilinx-red;
    }

    div.galileo {
        background-color: $galileo-blue;
    }

    div.uegroup {
        background-color: $uegroup-orange;
    }

    div.santa-cruz {
        background-color: $santa-cruz-blue;
    }

    div.xilinx:hover {
        background-color: darken($xilinx-red, 20%);

        h2::before {
            background-color: $xilinx-red;
        }
    }

    div.galileo:hover {
        background-color: darken($galileo-blue, 20%);

        h2::before {
            background-color: $galileo-blue;
        }
    }

    div.uegroup:hover {
        background-color: darken($uegroup-orange, 20%);

        h2::before {
            background-color: $uegroup-orange;
        }
    }

    div.santa-cruz:hover {
        background-color: darken($santa-cruz-blue, 20%);

        h2::before {
            background-color: $santa-cruz-blue;
        }
    }




    @media screen and (max-width: 1366px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

