---
---

// SASS Variables
$xilinx-red: #D2001A;
$galileo-blue: #42B9EE;
$uegroup-orange: #FE5000;
$santa-cruz-blue: #153A8A;

// Main SCSS
// CSS Variables
:root {
	--font:'Open Sans', 'Helvetica Neue', 'Arial';
	--dark-orange: #FF8B37;
	--light-orange: #FCDFAF;
	--dark-blue: #2A8CFF;
	--light-blue: #C5DAF3;
	--dark-gray: #262626;
	--light-gray: #D0D0D0;
}

body {
	margin: 0;
	background-color: #FCFCFC;
	color: #262626;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
}

// Imports
// Navs
@import "nav";
@import "menu";

// Grid & Tiles
@import "grid";
@import "tile-definition";

// Pages
@import "home";
@import "work";






