---
---

// CSS reset
@import "reset";
@import "text";


// Main SCSS
// CSS Variables
// Note: Using SASS variables for colors because of SASS functions...
:root {
	--font: 'Mark OT', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	--dark-orange: #FF8B37;
	--light-orange: #FCDFAF;
	--dark-blue: #2A8CFF;
	--light-blue: #CFE5FF;
	--dark-gray: #262626;
	--light-gray: #D0D0D0;
}

// Defaults
body {
	transition: .33s ease all;
	margin: 0;
	background-color: black;
	color: white;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

// Sticky footer
div.barba-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100vh;
}


// Media Queries
// XS
@media screen and (min-width: 425px) {}

// SM
// "If [device width] is greater than or equal to 768px, then do {...}"
@media screen and (min-width: 768px) {

}

// MD
@media screen and (min-width: 992px) {}

// LG
@media screen and (min-width: 1200px) {

}

// Imports
// Navs
@import "nav";
@import "menu";
@import "footer";

// Pages 
@import "home";
@import "about";







