<!DOCTYPE html svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<html lang="en">

{% include head.html %}

<body>
    <div class="icon-loader"></div>
    
    {% include fullscreen-menu.html %}
	<div id="barba-wrapper">
        <div class="barba-container" data-namespace="{{ page.namespace }}">
            {% include nav.html %}
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
</body>

{% include scripts.html %}

</html>